script.
    var wompwomppinning = #{ctapinning}
div.container-fluid(id="main")
  if display_headline
      div.section.center
          h4.theme-color-text
              |Recent Posts
          h6
              p
                  |For the complete experience 
                  =" "
                  a(href=app_store_link) install the app
  if display_home_button
      div.section
          div.row
              div.col.l4.offset-l4
                  a(href="/")
                      i.material-icons(id="icon-middle") navigate_before
                      |Home
  div.section
      each item in items
          div(class="row")
            div(class="col l4 offset-l4")
              div(class="card hoverable")
                a(href="/v/"+ item.id, class="card-image")
                  img(src="#{item.imageuri}")
                div(class="card-content", id=item.id)
                    p
                        = item.text
                    span.right
                        =item.numshares
                    div.right
                        |&nbsp;
                    a.right(href="whatsapp://send?text=" + encodeURIComponent(item.text
                            + " - wompwomp.co/v/"+ item.id),
                            data-action="share/whatsapp/share")
                            img(src="images/share-icon.png" height="24px", width="24px")
                    p.em.small.grey-text
                        =moment(item.created_on).fromNow()
        - itemcount++
  div.bottom.center.tiny-text
      |a hatching amazing labs creation &copy; 2015&nbsp;
      |&middot;&nbsp;
      a(href="mailto:wompwompapp@gmail.com") Contact&nbsp;
      |&middot;&nbsp;
      |Privacy
